.bg-dark {
  background-color: #355B8C !important;
}

.navbar-brand {
  border: 2px solid #fff;
  padding: 10px;
}

.navbar-nav {
  padding: 20px;
  font-size: 25px;
}

img {
  width: 200px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.about_me {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

.ordered_list {
  margin-left: 20px;
  font-size: 15px;
  font-family: serif;
  font-weight: bold;
}

.unordered_list {
  margin-left: 20px;
  font-size: 15px;
  font-family: serif;
  font-weight: bold;
}

.lists_page {
  background-color: #DBBBB4;
}

.about_page {
  background-color: #DBBBB4;
  /*height: 100%;*/
  padding-top: 10px;
}

.row {
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  clear: both;
}

.column {
  float: right;
  width: 50%;
  padding-left: 200px;
}

.home_page {
  text-align: center;
  color: black;
}

footer {
  background-color: #DBBBB4;
  bottom: 0;
  display: block;
  position: fixed;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #DBBBB4;
}

.reviews_page {
  text-align: center;
}